doctype html
html
head
body
    include ../header.pug
    div(style='padding: 20px 30px')
        p Hi #{name},
        p Your account has been created! Click 
            a(href=`${link}`) here
            |  to finalize your account
        
        p Account Number: 
            strong #{accountNumber}
    
    include ../footer.pug
    