doctype html
html
head
    style(type='text/css').
        .activate-btn {
            background-color: #5576c7;
            color: white;
            font-weight: 800;
            padding: 20px 50px;
            border-radius: 10px;
            margin: 30px auto 30px auto;
            display: table;
            align-self: center;
            flex-wrap: unset;
            position: relative;
            text-decoration: none;
        }
body(style='width: 500px')
    include ../header.pug
    div(style='width: 500px; padding: 20px 30px; display: table; margin: 0 auto')
        p Hi 
            strong #{name},
        p We received a password reset request from your account. Click the button below to continue.
        p If you did not request for a password reset, please disregard this message.
        a(href=`${link}` class='activate-btn' style='color: white;') RESET MY PASSWORD
    
    include ../footer.pug
    